.passwordStrengthWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.strengthMeter{
    border: 0.1rem solid #d6d6e7;
    border-radius: 3px;
    height: 0.3rem;
    width: 20rem;
}

.medium{
    border-radius: 3px;
    height: 0.3rem;
    width: 50%;
    background-color: rgb(253, 193, 82);
}

.strong{
    border-radius: 3px;
    height: 0.3rem;
    width: 100%;
    background-color: rgb(83, 247, 83)
}

.weak{
    border-radius: 3px;
    height: 0.3rem;
    width: 20%;
    background-color: rgb(236, 46, 46);
}

