@import '../../../styles//colors.css';

.submit-btn {
    background: var(--c-main-red);
    border: 1px solid var(--c-main-red);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    color: var(--c-main-white);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    height: 50px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .submit-btn:hover,
  .submit-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--c-main-red);
  }
  
  .submit-btn:active {
    opacity: .5;
  }
  
  .submit-btn.dark {
      background: var(--c-dark-200);
      border: 1px solid var(--c-dark-200);
      box-shadow: var(--dark-box-shadow);
  }
  
  .submit-btn.dark:hover,
  .submit-btn.dark:active {
    background-color: var(--c-dark-100);
    color: var(--c-dark-200);
  }
  