@import '../../../styles//colors.css';

.pagination-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 1.4rem 0;
    justify-content: center;
    align-items: center;
    border: var(--c-main-border);
    background-color: var(--c-main-white);

}

.pagination-container.dark {
    color: var(--c-main-white);
    border: 0.1rem solid var(--c-dark-500);
    background-color: var(--c-dark-300);
}

.pagination-button{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--c-main-white);
    border: var(--c-main-border);
    border-radius: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.pagination-button:hover{
    background-color: var(--c-main-red);
    border: 1px solid var(--c-main-red);
    border-radius: 0.1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--c-main-white);
}

.pagination-button.active{
    background-color: var(--c-main-red);
    border: 1px solid var(--c-main-red);
    border-radius: 0.1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--c-main-white);
}

.pagination-button.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.pagination-button.dark{
    color: var(--c-main-black);
    background-color: var(--c-dark-100);
    border: 1px solid var(--c-dark-100);
    box-shadow: var(--dark-box-shadow);
}

.pagination-button.dark.active{
    color: var(--c-main-white);
    background-color: var(--c-dark-200);
    border: 1px solid var(--c-dark-200);
    box-shadow: var(--dark-box-shadow);
}