@import '../../../styles//colors.css';

.items-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.4rem 0;
    width: 100%;
    height: 67.5vh;
    overflow-y: scroll;
    border: var(--c-main-border);
    background-color: var(--c-main-white)
}

.items-list-container > .loader-component{
    transform: scale(0.7);
    height: 40rem;
}


.items-list-container.dark{
    border: 0.1rem solid var(--c-dark-300);
    background-color: var(--c-dark-500)
}

.items-list-container::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .items-list-container::-webkit-scrollbar-track {
    box-shadow: var(--box-shadow);
  }
   
  .items-list-container::-webkit-scrollbar-thumb {
    background-color: var(--c-main-red);
    border: 0.1rem solid var(--c-main-red);
    border-radius: 0.1rem;
  }
  .items-list-container.dark::-webkit-scrollbar-thumb {
    background-color: var(--c-dark-100);
    border: 0.1rem solid var(--c-dark-100);
    border-radius: 0.1rem;
  }