.stat-icon{
    width: 2.3rem;
    aspect-ratio: 1;
}

.stat-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.45rem;
    font-size: 1.2rem;
}

.stats-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
