@import '../../../styles//colors.css';


.search-bar-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.4rem 0;
    width: 100%;
    background-color: var(--c-main-white);
    text-align: start;
}

.search-bar-container.dark{
    color: var(--c-main-white);
    border: 0.1rem solid var(--c-dark-500);
    background-color: var(--c-dark-300);
}


.title-section > h2 {
    font-size: 2rem;
    margin: 0;  
}

.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-form-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 0.6rem;
}


.search-form{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    width: 100%;
}
.input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;  
}


input[type="text"]{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: var(--c-main-white);
    border: var(--c-form-border);
    border-radius: 3px;
    color: var(--c-main-blue);
    box-shadow: var(--form-shadow);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}
input[type="text"]:focus {
    border-color: var(--c-form-focus);
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

.input-wrapper input:invalid[data-focused="true"] ~ span{
    display: block;
}

.input-wrapper > button {
    display: inline-block;
    position: absolute;
    right: 8.5rem;
    top: 3.87rem;
    z-index: 1;
}

.submit-btn {
  background: var(--c-main-red);
  border: 1px solid var(--c-main-red);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  color: var(--c-main-white);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  height: 50px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--c-main-red);
}

.submit-btn:active {
  opacity: .5;
}

.submit-btn.dark {
    background: var(--c-dark-200);
    border: 1px solid var(--c-dark-200);
    box-shadow: var(--dark-box-shadow);
}

.submit-btn.dark:hover,
.submit-btn.dark:active {
  background-color: var(--c-dark-100);
  color: var(--c-dark-200);
}

.counter-section{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.items-counter{
    font-size: 1.4rem;
}

@media(max-width: 400px){
    .title-section > h2 {
        font-size: 1.5rem;
    }
    .input-wrapper > button {
        right: 8.5rem;
        top: 3.4rem;
        z-index: 1;
    }

}
