@import './styles/colors.css';

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    padding: 0;
    background-color: var(--c-main-white);
    font-family: 'Roboto', sans-serif;
}

body.dark {
    background-color: var(--c-dark-500);
}

main {
 flex-grow: 1;
}
